.btn-primary {
    color: black;
}

body {
    background-color: #ffffff;
}
.rowOfRequest {
    flex-direction: row;
}

.form-control {
    width: 100%;
}

.videos {
    height: 550px;
}

.videoUploadForm {
    width: 30%;
}

.backgroundAnimation {
    margin: auto;
    background-image: url(/css/crown7.gif);
    height: 200px;
    width: 200px;
}